<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <title>Create User</title>
</head>
<body>
<div class="container">
  <p class ="h4 mb-4" >Registration</p>
  <form action="#" th:action="@{/api/register/save}"
        th:object="${user}" method ="POST">
    <label >Username </label>
    <input type ="text" th:field ="*{userName}"
           class="form-control mb-4 w-25" placeholder="Username">
    <label >Password </label>
    <input type ="password" th:field ="*{passWord}"
           class="form-control mb-4 w-25" placeholder="Password">
    <button type="submit" class ="btn btn-info col-2">Register</button>
    <hr>
    <a th:href="@{/api/login}">Back to Login</a>

  </form>
</div>
</body>
</html>